.col-sm-4.col-sm-offset-4
  .title
    %h1 GIFMONSTER

  %br
  %br

  .monster
    .monster-picture
      = image_tag("monster_noeye.png")
    .eye
      = image_tag("eyeball.png")

  %br
  %br

  .app-store-button
    .btn
      = image_tag("Download_on_the_App_Store_Badge_US-UK_135x40.svg")
