// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
body{
  background-color:  #89b121;
  text-align: center;

}
.title {
  text-align: center;
  h1 {
    font-family: 'superclarendon';
    color: #222222;
    font-weight: bold;
  }
}

.navbar-brand {
  a {
    color: #ac25fb;
    font-weight: bold;
    font-size: 20px;
  }

}

.navbar-right {
  li {
    a {
      color: #ac25fb !important;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.icon-bar {
  background-color: #ac25fb !important;
}

.app-store-button {
  .btn {
    //background-image: url(../images/Download_on_the_App_Store_Badge_US-UK_135x40.svg')
  }
}
